*{
    box-sizing: border-box;
}
.input{
    background-color: #8a065e;
    text-align: center;
}
.input div{
    display:inline-block;
}
input{
    width: 500px;
}
.textBox{
    float: center;
}

#products{
    display: flex;
    flex-wrap:wrap;

}

#products > div{
    border: 1px solid black;
    width: 250px;
    height: auto;
    text-align:center;
}

#product a div{
    height: 250px;
}

#product {
    padding:
}

div.review{
    height: auto;
    border: 1px solid black;
}